@import "variables";

.cart {
  &__item {
    list-style: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;

    h3 {
      margin: 0;
      font-size: 1rem;
      justify-self: start;
    }

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr;
      grid-template-rows: auto;
      align-items: center;
      width: 100%;
    }
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-price {
    font-weight: bold;
    justify-self: end;

    &-symbol {
      color: $primaryColor;
    }
  }

  &__item-amount {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: $secondaryColor;
    padding: 0;
    border-radius: 40%;
    width: 100px;
    justify-self: center;

    &-left-button {
      border: none;
      background-color: $secondaryColor;
      color: $primaryColor;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0.3rem 0.3rem 0.3rem 1rem;
      border-radius: 2.875rem 0 0 2.875rem;
    }

    &-right-button {
      border: none;
      background-color: $secondaryColor;
      color: $primaryColor;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0.3rem 1rem 0.3rem 0.3rem;
      border-radius: 0 2.875rem 2.875rem 0;
    }
  }

  &__button-actions {
    display: flex;
    flex-direction: column;
  }
}
