@import "variables";

.cart {
  &__wrapper {
    display: flex;
  }

  &__items-description {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0 0;
    max-height: 40rem;
    overflow: auto;
  }

  &__close-button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $primaryFontColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    background-color: transparent;
    color: $primaryFontColor;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
  }

  &__close-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3rem;
    fill: $primaryFontColor;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875rem;
    opacity: 0.5;
  }

  &__summary {
    margin: 0;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  &__order-button {
    font: inherit;
    cursor: pointer;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: $secondaryFontColor;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 130px;
  }
}
