@import "variables";

.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  gap: 2rem;
  width: 60vw;
  justify-content: space-between;
}

.cart {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__items {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 0;
    height: clamp(20vh, auto, 50vh);
    overflow: auto;
  }

  &__summary {
    margin: 0;
    color: $primaryColor;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;

    &-symbol {
      color: $primaryColor;
    }
  }

  &__additional {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1rem;

    span {
      color: $primaryColor;
      font-weight: bold;
    }

    p {
      font-weight: bold;
    }

    &-text {
      color: $tertiaryFontColor;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__order-button {
    font: inherit;
    cursor: pointer;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: $secondaryFontColor;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 130px;
  }

  &__close-button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $primaryFontColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: $primaryFontColor;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
  }

  &__close-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3rem;
    fill: $primaryFontColor;
  }
}
