@import "variables";

.cart-button {
  cursor: pointer;
  font: inherit;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  background-color: transparent;

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: white;
  }

  &__badge {
    position: absolute;
    background-color: $primaryColor;
    border-radius: 100%;
    width: 1.35rem;
    height: 1.35rem;
    font-size: 14px;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: $secondaryFontColor;
    transition: background-color 0.2s ease;
  }
}

.colored {
  background-color: $primaryFontColor;
  transition: background-color 0.2s ease;
}
