@import "variables";

.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;

  h3 {
    margin: 0 0 0.25rem 0;
    font-weight: semi-bold;
  }

  &__description {
    font-style: italic;
    color: $tertiaryFontColor;
  }

  &__price {
    margin-top: 0.25rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__symbol {
    font-size: 1.25rem;
    font-weight: bold;
    color: $primaryColor;
  }

  &__form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 135px;

    &-cart-button {
      font: inherit;
      cursor: pointer;
      background-color: $primaryColor;
      border: none;
      font-weight: bold;
      color: $secondaryFontColor;
      padding: 0.5rem 1.5rem;
      border-radius: 25px;
      width: 100%;
    }

    &-wrong-input {
      color: rgb(255, 48, 48);
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}
